.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.html
*.rds
*.csv
preppedData/*.rds
SAS_reports/
_Abbotsford A Columbia Street/
_Abbotsford Central/
_Agassiz Municipal Hall/
_AnnualDataValidation_cache/
_AnnualDataValidation_files/
_Bessborough 237 Road/
_Birchbank Golf Course/
_Burnaby Burmount/
_Burnaby Kensington Park/
_Burnaby Mountain/
_Burnaby North Eton/
_Burnaby South/
_Burns Lake Fire Centre/
_Burns Lake Sheraton East/
_Castlegar Hospital/
_Castlegar Zinio Park/
_Celgar Pulp/
_Chilliwack Airport/
_Colwood City Hall/
_Coquitlam Douglas College/
_Courtenay Elementary School/
_Cranbrook Muriel Baxter/
_Crofton Elementary/
_Crofton Substation/
_Duncan College Street/
_Duncan Deykin Avenue/
_Elk Falls Dogwood/
_Elkford Rocky Mountain Elementary School/
_Farmington Community Hall/
_Fort St John 85th Avenue/
_Fort St John Key Learning Centre/
_Fort St John North Camp C/
_Fort St John Old Fort/
_Fraser Lake Endako Mines/
_Golden Helipad/
_Golden Lady Grey School/
_Grand Forks Airport/
_Grand Forks City Hall/
_Harmac Cedar Woobank/
_Harmac Nanaimo Dukepoint/
_Harmac Pacific/
_Hope Airport/
_Hope Othello Compressor Station/
_Horseshoe Bay/
_Houston Firehall/
_Hudsons Hope Dudley Drive/
_Kamloops Federal Building/
_Kelowna KLO Road/
_Kitimat Haisla Village/
_Kitimat Haul Road/
_Kitimat Industrial Ave/
_Kitimat Riverlodge/
_Kitimat Whitesail/
_Kitimat Yacht Club/
_Langdale Elementary/
_Langley Central/
_Maple Ridge Golden Ears School/
_Merritt Parcel Street/
_Mission School Works Yard/
_Nanaimo Labieux Road/
_New Westminster Sapperton Park/
_North Burnaby Capitol Hill/
_North Delta/
_North Vancouver Mahon Park/
_North Vancouver Second Narrows/
_PG Marsulex/
_Peace Valley Attachie Flat Upper Terrace/
_Penticton Industrial Place/
_Pine River Gas Plant/
_Pine River Hasler/
_Pitt Meadows Meadowlands School/
_Port Alberni Elementary/
_Port Mellon/
_Port Moody Rocky Point Park/
_Powell River James Thomson School/
_Powell River Pacifica/
_Powell River Townsite Helipad/
_Prince George Exploration Place/
_Prince George Jail/
_Prince George Lakewood/
_Prince George Marsulex Acid Plant/
_Prince George Plaza 400/
_Prince George Pulp/
_Prince Rupert Fairview/
_Prince Rupert Roosevelt Park School/
_Quesnel CP/
_Quesnel Johnston Avenue/
_Quesnel Kinchant St MAML/
_Richmond South/
_Robson/
_Scotties Marina/
_Skookumchuck Farstad Way/
_Smithers Muheim Memorial/
_Sparwood Centennial Square/
_Squamish Elementary/
_Stewart Youth Centre/
_Surrey East/
_Taylor Farm 247 Road/
_Taylor South Hill/
_Taylor Townsite/
_Telkwa/
_Terrace Skeena Middle School/
_Trail Butler Park/
_Trail Columbia Gardens Airport/
_Tsawwassen/
_Valemount/
_Vancouver Clark Drive/
_Vancouver International Airport #2/
_Vancouver Robson Square/
_Vanderhoof Courthouse/
_Vernon Science Centre/
_Victoria Topaz/
_Warfield Elementary/
_Whistler Meadow Park/
_Williams Lake Columneetza School/