.Rproj.user
.Rhistory
.RData
.Ruserdata
unverifiedData.feather
*.html
*.Rproj
stations.rds
.DS_Store
unverifiedData_unpadded.feather
_book-output*
_bookdown_files*
_Kootenay_1of2*
_Kootenay_2of2*
*.png
*.css
*.js
*.json
*.ttf
*.rdx
*.rdb
*.Rdata
*reference-keys.txt
_AnnualDataValidation_cache